html {
    height: 100%;
}

body {
    font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, sans-serif;
    background: url("../img/backgroundv3.jpg") #a2b2c9 no-repeat;
    background-size:cover;
    background-attachment:fixed;
    text-align: center;
    padding: 36px;
    box-sizing: border-box;
}

/* Page */
.hero-page {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    text-align: center;
    background: url("../img/backgroundv2.jpg") white no-repeat;
    background-size:cover;
    border-radius: 120px;
    margin : auto;
}

/* Image */
.hero-image {
    line-height: 0;
}
.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 120px;
    opacity: 0.8;
}

/* Contenu */
.hero-contenu {
    padding: 36px;
    color: black;
    max-width: 480px;
    box-sizing: border-box;

}


/*Texte*/
h1 {
    margin-top: 0;
    font-size : 35px;
    color : #272fa1;
    font-family: 'MV Boli';
    }

h2 {
    font-size : 20px;
    color : #272fa1;
    font-family: 'MV Boli';
}

h3 {
    font-size : 22px;
    color: #272fa1;
    margin-bottom: 0;
    font-family: 'Segoe Print';
}

p {
    margin-bottom: 0;
    font-size : 22px;
    font-family: 'Tahoma';
}